/*
    CSS의 역할이나 특성에 따라 그룹을 나눈다.

    베이스 그룹 = 사이트 전체에 적용할 스타일
    레이아웃 그룹 = 레이아웃과 관련 있는 스타일
    모듈 그룹 = 사이트 내 페이지들에서 재사용할 수 있는 스타일

    모듈 자체에는 레이아웃과 관련된 스타일은 지정하지 말 것.
    모듈들은 블록 레벨 요소의 특성에 따라 부모의 가로폭 100% 를 채우고, 세로 배치는 상하 여백 없이 붙은 상태가 된다.

    * 모듈은 해당 모듈자체에 관한 처리 및 자녀 요소의 스타일링에만 관심을 가져야 한다. 
    * 자신이 어디에 어떤 크기로 배치될지는 레이아웃 그룹 혹은 해당 모듈을 사용하는 컨텍스트에 맡긴다. 
*/

/* 베이스 그룹 */
body {
    font-family: sans-serif;
}

#main span {
    color: #555;
    font-size: 14px;
}

/* 레이아웃 그룹 */

.ly_content {
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* 모듈 그룹 */

#main div.bl_module.main-module {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
}

#main div.bl_module.main-module figure {
    flex: 1 1 25%;
    margin-right: 3.3333%;
}

#main div.bl_module.main-module img {
    width: 100%;
    vertical-align: top;
}

#main div.bl_module.main-module div {
    flex: 1 1 68.3333%;
}

#main div.bl_module.main-module h2 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

#main div.bl_module.main-module h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border-bottom: 1px solid #555;
}